{% extends 'blog/base.html' %}

{% block content %}
     <div class="row"> 
        {% for post in posts %}
                <div 
                    class="
                        blogpost 
                        col-xs-12 
                        col-sm-6 
                        col-sm-offset-2 
                        col-md-5 
                        col-md-offset-0
                        col-lg-4
                        "
                >
                    <a href="{% url 'post_detail' pk=post.pk %}">
                        <h2>{{ post.title }}</h2>
                    </a>
                    <p class="date">published: {{ post.published_date }}</p>
                    <p>{{ post.text|linebreaksbr|truncatewords:80 }}</p>
                </div>
        {% endfor %}
    </div>
{% endblock %}
            